html{
	box-sizing: border-box;
	height: 100%;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: inherit;


}

body{
	width: 100%;
	background: beige;
}


#cabecera{

	background: grey;
	width: 100%;
	float: left;

}

#logo{
	position: relative;
	background-image: url(../material/Imagenes/fondo.jpg);
	width: 14.75%;/*201px;*/
	/*height: 19.2%;/*116px;*/
	float: left;
}

#logoimg{

	background-image: url(../material/Imagenes/logo.jpg);
	background-repeat: no-repeat;
	width: 201px;
	height: 116px;
	float: left;
}

#titulo{

	background-image: url(../material/Imagenes/fondo.jpg);
	float: left;
	width: 85.25%;
	/*height: 19.2%;*/
	text-align: center;

}



#barramenu{
	float: left;
	background: darkgreen;
	/*height: 5.1%;*/
	padding: 0.4em;
	width: 100%;

}

#cuerpo{

	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	float: left;


}

#derecha{


	float: right;
	width: 75%;

}

#izquierda{

	background: white;
	float: left;
	width: 25%;
}

#pie{
	float: left;
	background: darkgreen;
	width: 98%;
	margin: 0 1%;
	height: 15%;

}