

html{
height: 100%;
padding: 0;
margin: 0;
box-sizing: border-box;
}
*{
	box-sizing: inherit;

}
body{
height: 100%;
}
body > div {
border: 1px solid #CCC;
width: 45%;
height: 98%;

}
div > div{
	float: left;
	width: 26%;
	height: 31%;
	border: 1px solid black;
	margin-top: 2%;
	margin-left: 3%;
	margin-right: ;
	margin-bottom: 4%;


}
#a{
	float: left;
	margin-left: 5%;
}
#b{
	float: right;
	margin-right: 5%;
}