blockquote{margin:0; color:red; background-color: pink ; padding: 40px; border:5px solid; border-color:black ;}
/* p{color:blue; text-decoration: underline;} */
a{color:orange;background-color:purple; padding: 1px; border: 5px; }	
/* body{background-color: black;} */
h1{color:black; text-align:center;}
b {color:blue}
i {color:yellow}
b i {color:green}
.verde {color:green; font-size:20px}
.centrar {text-align: center}
/* #pa3 {text-decoration: underline} */
#enlaces {text-align: center;}
