html{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	

}

*{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
	

}

body {
	padding: 0em;
	width: 100%;
	height: 100%;
	
}

h1{

font-family: sans-serif;
text-align: center;
padding: 0.5em;

background: url("../imagenes/fondo1.jpg") repeat; 
color: white;

width: 100%;
/*height: 19.9%;*/
height: 120px;
font-size: 300%;


}

ul{
	
	position: relative;
	top: 0.00000001%;
	list-style: none;
	width: 100%;
	overflow: hidden;
	background: url("../imagenes/boton-menu.jpg") repeat;
}

li{
	font-size: 75%;
	padding: 4px;
	text-align: center;
	position: relative;
	left: 35%;
	float: left;
	height: 1.95em;
	width: calc(100%/12);
}

a{
	color: white;
	text-decoration: none;
	padding-left: 1.25em;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	display: block;
}

li:hover{
	
	background: url("../imagenes/boton-menu2.jpg") repeat;
	
}

a:hover{
	color: black;
}
